@model IEnumerable<NiceApp.Models.DataModel.VehicleImage>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
             @*   @Html.DisplayNameFor(model => model.Id)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.VehicleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.PlateNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.InitialRentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.RentRatePerHr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.Penalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.VehicleKind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.WhereStored)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.Tracker)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @* @Html.DisplayFor(modelItem => item.Id)*@
                   <div class="d-flex align-items-center">
                        <img src="~/@item.VehicleImage1"
                         alt=""
                         style="width: 45px; height: 45px"
                         class="rounded-circle" />
                    </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.PlateNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.InitialRentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.RentRatePerHr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Penalty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleKind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.WhereStored)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Tracker)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
